.area__wrap{
	gap: 20px;
	display: flex;
	@media screen and (max-width:1023px) {
		flex-direction: column-reverse;
	}
}
ul.area__list{
	display: flex;
	align-items: center;
	gap: 7px 40px;
	flex-wrap: wrap;
	padding: 30px;
	background-color: $--silver-white;
	border: $--dark-greenish-blue 1px solid;
	border-radius: 40px;
	flex: 1 1 40.5%;
	@media screen and (max-width:767px) {
		border-radius: 30px;
	}
	&.yellow{
		background-color: $--yellow-background;
	}
	& li{
		width: calc((100% / 3 ) - 30px);
		@media screen and (max-width:767px) {
			width:calc((100% / 2 ) - 20px)
		}
		& a{
			@include text-regular-line;
			text-decoration-line: underline;
			transition: .3s ease-in-out;
			&:hover{
				color: $--selected-yellow;
			}
		}
	}
}
.area__map{
 border-radius: 40px;
 width: 60%;
	@media screen and (max-width:1023px) {
		width: 100%;
	}
	@media screen and (max-width:767px) {
		border-radius: 20px;
	}
	& img{
		max-height: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: inherit;
		@media screen and (max-width:550px) {
			aspect-ratio:  1 / 1;
		}
	}
}