.deliver{
	& h1{
		margin: 0 auto;
		margin-bottom: 40px;
		max-width: fit-content;
		
	}
}
.deliver__container{
	display: flex;
	flex-direction: column;
	gap: 20px;
	& .area__list{
		gap: 10px;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		@media screen and (max-width:1023px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media screen and (max-width:767px) {
			grid-template-columns: repeat(2, 1fr);
		}
		& li{
			width: 100%;
		}
	}
	& .area__map{
		width: 100%;
		& img{
			aspect-ratio: 1 / .5;
			@media screen and (max-width:550px) {
				object-position: 20% 50%;
				aspect-ratio: 1 ;
			}
		}
	}
}