.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: $--selected-yellow;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.preloader__wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 800px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  @media screen and (max-width:767px) {
	gap: 40px;
}
  & img {
	max-width: 322px;
	max-height: 330px;
	aspect-ratio: 322 / 330;
	width: 100%;
	height: 100%;
	animation: animPreloadImg linear infinite;
	@media screen and (max-width:767px) {
		max-width: 250px;
		max-height: 260px;
	}
  }
  & span{
	font-size: 45px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; 
	color: $--white;
	@media screen and (max-width:767px) {
		line-height: 1;
	}
  }
}
.preloader__progress{
	width: 100%;
	border: 1px solid $--white;
	border-radius: 500px;
	background: transparent;
	height: 60px;
	background: linear-gradient(white 0 0) 0/0% no-repeat transparent;
	@media screen and (max-width:767px) {
		height: 40px;
	}
}

  @keyframes animPreloadImg {
	  0%{
		transform: rotate(0);
	  }
	  100%{
		transform: rotate(360deg);
	  }
  }